# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

* List popular languages for Data Science
* List commonly used libraries for Data Science
* List popular Tools for Data Science
* Run arithmetic expression in Python

Some of the popular languages that Data Scientists use are:

1. Python
2. SQL
3. R
4. Julia
5. VBA
6. Java
7. Scala

Some of the commonly used libraries used by Data Scientists include:

1. TensorFlow
2. Pandas
3. NumPy
4. ggplot2
5. dplyr

| Data Science Tools |
| -------------|
| Jupyter Notebook |
| RStudio |
| Spyder |
| Visual Studio Code |

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [6]:
(3*4)+5

17

This will convert 200 minutes to hours and minutes

In [7]:
min=200
h=min//60
m=min%60
print("Hours=",h)
print("Minutes=",m)

Hours= 3
Minutes= 20

## Author

Emad Ashrafi